/* set styles for body light beige */
html, body {
    height: 100%;
    background-color: #FEFFEB;
    padding-top: 50px;
    font-size: 100%;
}
/* set the style for page-header to light green */
.page-header{
color: Black;
background-color:#B2D732;
padding: 20px;
border: 2px solid black;
text-align: left;
font-family: "Times New Roman", Times, serif;
font-size: 2.5em
}

/*Subheadings*/
h2 {
color:Black;
background-color:#B2D732;
font-family: "Times New Roman", Times, serif;
font-size: 2em;
height: 60px;
padding: 15px 15px 15px 15px;
border: 1px solid black;
}

/* sets padding around text*/
div.ex1 {
max-width: 1140px;
padding: 10px 30px 10px 30px;
box-sizing: border-box;
}
/* styling paragraphs throughout website page*/
div.ex5 {
max-width: 1140px;
margin-top: 25px;
margin-bottom:25px;
margin-right:150px;
margin-left:150px;
}

.no-padding{
padding: 0px;
}

.no-margin{
margin-top: -50px;
margin-bottom: -30px;
}


/* no background colour on heading*/

h2.simple{
color:Black;
font-family: "Times New Roman", Times, serif;
font-size: 2em
}

/* set the style for navbar brand to dark green */
.navbar-brand{
background-color:#1B3409;
font-family: "Times New Roman", Times, serif;
font-size: 1.50em
}
/* set the style for navbar background to green */
.navbar{
background-color:#B2D732;
}
/* 2 styles of paragraphs, one for main body *justify* for academic warning*/

/*same font no beige background*/

p.correct {
color:#1F1F1F;
text-indent: 30px;
font-family: "Times New Roman", Times, serif;
font-size: 1.25em;
}

p.justify {
text-align: center;
color:#1F1F1F;
text-indent: 30px;
font-family: "Times New Roman", Times, serif;
font-size: 1.25em;
}

ul {
color:#1F1F1F;
text-indent: 30px;
font-family: "Times New Roman", Times, serif;
font-size: 1.25em
}

div.ex2 {
    max-width:500px;
    margin: auto;
    border: 3px solid #B2D732;
    padding: 15px;
}

div.ex3 {
max-width: 782.667px;
margin: auto;
border: 3px solid #B2D732;
padding: 10px;
}

/* image gallery for the products page*/  

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }
/*image editing*/
.Londonskyline{ 
    max-width: 100%;
    height: auto;
    }
/*image editing*/
.biofuel{
max-width: 25%;
height: auto;
float: right;
}

.route1 {
max-width: 60%;
height: auto;
float: right;
}

.Ben{
max-width: 200px;
height: auto;
float: left;
}

.Alex{
max-width: 150px;
height: auto;
float: right;
}

/* coffee van image edit*/
.coffeevan{
max-width: 30%;
height: auto;
float: right;
}

/* make video responsive*/

video {
max-width: 100%;
height: auto;
}

.center {
margin: 0 auto;
width: 450px;
}

/*responsive products table*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/*center align and font changes*/
h4 {
text-align: center;
color:#1F1F1F;
text-indent: 30px;
font-family: "Times New Roman", Times, serif;
font-size: 2em;
}

.header-logo {
max-width: 200px;
margin-top:-15px;
float: left;
}

.centered {
display: block;
margin-left: auto;
margin-right: auto;
}
/*footer editing*/

footer.main {
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #1B3409;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: none;
    flex: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}
footer.main .social-links {
    background-color: #B2D732;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 1rem;
}
.social-links {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    z-index: 20;
}

.social-buttons {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    margin: 0;
        margin-left: 0px;
    padding: 0;
        padding-left: 0px;
    width: 100%;
}

.white {
color: white;
}

p.rejustify {
text-align: center;
color:#cccccc;
text-indent: 30px;
font-family: "Times New Roman", Times, serif;
font-size: 1.25em;
}

.container1 {
margin-right:10px;
text-align: center;
width: 25%;
border: 2px solid white;
padding: 2px;
}

.container2 {
margin-left: 300px;
text-align: center;
width: 50%;
border: 2px solid white;
padding: 2px;
}
